/** My Code -------------------------------------------------------------------------------------------------------*/
.mainWrapper > div:nth-child(even){
    background-color: #eeeeee;
    padding:1em;
}
.mainWrapper > div:nth-child(odd){
    background-color: #dddddd;
    padding:1em;
}

.mainWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "title title"
    "header header"
    "sidebar content"
    "footer footer";
    grid-gap:3px;
}
.title{
    grid-area:title;
}
.header{
    grid-area:header;
}
.sidebar{
    grid-area:sidebar;
}
.content{
    grid-area:content;
}
.footer{
    grid-area:footer;
}

@media (max-width:800px) {
    .mainWrapper{
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
        "footer footer"
        "title title"
        "header header"
        "content content"
        "sidebar sidebar";
    }
}