body{
    background-color: #F1B311;
    text-align: center;
}
ul{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    background-color: #116409;
    padding:0;
    border:2px solid #116409;
    box-shadow: black;
}
li{
    padding: 10px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    text-align: right;
    padding:10px;
    width:100%;
}
li a:hover{
    background-color: #F1B311;
    color: #116409;
}