body{
    margin:0 auto;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
svg{
    fill:#282e3e;
}
.wrapper{
    font-family:"Source Sans Pro", sans-serif;
    float: left;
    width:100%;
}
.navBar{
    top:0;
    padding-left:100px;
    padding-top: 10px;
    background-image: url("../images/navBack.jpg");
    background-size: cover;
    position: fixed;
    width:100%;
}
.logo{
    display: inline;
    width:auto;
    float: left;
}
.menu{
    list-style-type: none;
    display: inline-block;
    width:70%;
    text-align: center;
    padding:0;
    margin:0;
    float: right;
    line-height:3;
}
.menuItem{
    display: inline-block;
    font-size: 18px;
    line-height: 1.2;
    padding: 0 3%;
}
.menuItem a{
    text-decoration: none;
    color: #3f3b40;
    display: inline-block;
}
.active a:link, .active a:visited{
    color:#ff7a5f;
}
.menuItem a:hover{
    border-bottom: 2px solid #ff7a5f;
    color: #ff7a5f;
}
.mainHeader{
    float: left;
    width:100%;
    background-image: url("../images/slider-1.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top:65px;
    z-index: -1;
}
.mainHeader i{
    padding:30px 0;
    color:#FFFFFF;
}
.mainHeader span{
    font-size: 30px;
    font-weight: 600;
    color:#FFFFFF;
}
.mainHeader h1{
    margin-top: 30px;
    letter-spacing: 0.12em;
    font-size: 60px;
    color: #FFFFFF;
}
.mainHeader div{
    padding:90px 0;
}
.mainHeader a{
    color: #FFFFFF;
    background-color: #ff7a5f;
    border: 0px solid ;
    border-radius: 8px;
    letter-spacing: 0.12em;
    font-size: 18px;
    padding: 20px;
    font-weight: 700;
    text-decoration: none;
}
.mainHeader a:hover{
    background-color: #FFFFFF;
    color: #323847;
}
.pageContent{
    float: left;
    width:100%;
    position: relative;
    top:65px;
}
.work{
    float: left;
    position: relative;
    width:100%;
    background-color: #BBAEA6;
}
div.coligImage{
    background-image: url("../images/index-1.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    height:100%;
    float: left;
    position: absolute;
    left:0;
    top:0;
    width:50%;
    display: inline-block;
}
.workDetails{
    display: inline-block;
    width:50%;
    background-color: #BBAEA6;
    float: right;
    color: #FFFFFF;
}
.workDetails > div{
    padding-left:70px;
    padding-top: 50px;
}
.workDetails hr{
    color:#d6d6d6;
    width:70px;
    border:1px solid #d6d6d6;
    position: absolute;
    margin-top: 30px;
}
.workDetails span{
    font-size: 46px;
    text-transform: uppercase;
    line-height: 1.13043;
    font-weight:600;
}
.workDetails > div >p{
    padding-top:60px;
    font-family: "Lato",sans-serif;
    font-size:16px;
    font-weight: 300;
    width:500px;
}
.per{
    width:500px;
    padding-bottom: 50px;
}
.ratePer p{
    display: inline-block;
    padding:0;
    margin: 0;
    float: right;
}
.ratePer h4{
    display: inline-block;
}
.progressBar{
    background-color: #3f3b40;
    height: 12px;
    margin: 10px 0 20px 0;
}
.progressBar div{
    height:100%;
    background-color: #FFFFFF;
}
#adoptionLaw{
    width:50%;
}
#familyLaw{
    width:90%;
}
#personalInjury{
    width:20%;
}
#realState{
    width:80%;
}