/*
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
*/

body{
    margin: 0 auto;
    padding: 0;
    font-family: Poboto, sans-serif;
    overflow-x: hidden;
}
.topLine{
    height: 25px;
    width:100%;
    background-color: #66AB36;
    font-size: 15px;
    color: #FFFFFF;
}
.contactNo{
    padding: 3px 0 0 10px;
    width:50%;
    display: inline-block;
}
.rightSide{
    float: right;
    font-size: 18px;
}
.rightSide i{
    padding:3px 5px 0 5px;
}
/*#search{
    border:2px solid #FFFFFF;
    border-radius: 5px;
    margin: 2px 3px 2px 0;

}*/
#searchBox{
    margin:0 5px 0 0;
    display:none;
}
span.tel:hover{
    color:#000000;
}
.logo {
    padding:30px 0 0 0;
    text-align: center;
}
div.menu{
    text-align: center;
    line-height: 5;
}
ul.menu{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin:0;
    padding:0;
}
li.menuItem{
    float: left;
    font-size:20px;
    display: inline-block;
    text-align: center;
    padding:0 15px;
}
.menuItem a:link,.menuItem a:visited{
    text-decoration: none;
    color: #000000
}
.menuItem a:hover{
    color: #66AB36;
    border-bottom: 2px solid #66AB36;
}
.goals{
    background-image: url('../images1/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    padding: 50px 0 0 0 ;
    width:100%;
    text-align: center;
}
.goals .title{
    margin:0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: -2px;
}
.goals .subText{
    color: rgba(255,255,255,0.7);
    font-size: 20px;
    line-height: 1.2;
}
.goals a{
    padding:15px;
    border-radius: 25px;
    border:1px solid #FFFFFF;
    text-decoration: none;
    line-height: 12;
}
.goals > a:link {
    background: none;
    color: #FFFFFF;
}
.goals > a:visited{
    background: none;
    color: #FFFFFF;
}
.goals a:hover{
    background-color: rgba(102,171,54,0.8);
    border:0 solid rgb(102,171,54);

}
.goals a:active{
    background-color: rgba(33,33,33,0.8);
    border-color: rgb(33,33,33);
}
.offer{
    list-style-type: none;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    float: left;
    width:100%;
    display: block;
}
.price{
    float: left;
    background-color: #F1BB00;
    width:33.33%;
    padding:50px 0;
}
.pack{
    float: left;
    background-color: #F1C21A;
    width:33.33%;
    padding:50px 0;
}
.range{
    float: left;
    background-color: #F3C82E;
    width:33.33%;
    padding:50px 0;
}
.offer span{
    line-height: 100px;
    display: block;
}
.middle{
    width:100%;
    float: left;
}
.side img{
    float: left;
    height:507px;
    width:auto;
    bottom:0;
}
.aside{
    width:50%;
    height:300px;
    float: right;
    padding-top: 50px;
}
.question{
    color: #3A3A3A;
    font-size: 40px;
    line-height: 1.1;
}
.welcome{
    font-style: normal;
    color: #8a8a8a;
    font-size:20px;
    font-weight: 200;
    margin: -25px 0 15px 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
.someText{
    font-style: normal;
    color: #8a8a8a;
    font-size:17px;
    width:70%;
    line-height: 1.3;
}
.aside a{
    text-decoration: none;
    border: 1px solid #dadada;
    padding:15px 50px;
    border-radius: 30px;
    font-size: 0.75rem;
    height: 30px;
    width: 150px;
    color: #8a8a8a;
    font-family: Montserrat, sans-serif;
}
.aside a:hover{
    background-color: #F1BB00;
    color:#FFFFFF;
    border-color: #F1BB00;
}
.create{
    background-image: url('../images1/img8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    float: left;
    padding: 170px 0;

}
.create div{
    max-width: 1440px;
    width:100%;
    margin:0 auto !important;
    float: none;
    padding:0 30px;
    box-sizing: border-box;
}
.create div h1{
    color: #F1BB00;
    font-size:50px;
    margin:0;
    padding: 0;

}
.create div p{
    color: #FFFFFF;
    font-size:50px;
    font-weight: bold;
    margin: 0;
    padding:0;
}
.create a,.create a:visited{
    float: left;
    border:2px solid #66AB36;
    padding:15px 42px;
    border-radius: 35px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #66AB36;
    font-size:0.75rem;
}
.create a:hover{
    background-color: #3a3a3a;
    border-color: #3a3a3a;
}
.getQuote{
    float:left;
    width:100%;
    padding:150px 0 ;
    background-image: url("../images1/img9.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}
.getQuote .text{
    max-width: 1440px;
    width:100%;
    margin: 0 auto !important;
    padding: 0 30px;
}
.getQuote .text span{
    font-weight: bold;
    font-size: 50px;
    color:#3A3A3A;
}
.getQuote .text p{
    width:50%;
    color:#989797;
    font-size: 17px;
    letter-spacing: 1px;
}
.getQuote a{
    border:1px solid #dAdAdA;
    background: none;
    border-radius: 25px;
    padding:15px 50px;
    text-decoration: none;
    font-size: 0.75rem;
    color: #3A3A3A;
    position: relative;
    top:10px;
}
.getQuote a:hover{
    background-color: #F1BB00;
    color: #FFFFFF;
    border-color: #F1BB00;
}
.advantages{
    float: left;
    width:100%;
    padding-top: 50px;
    background-color: #F5F5F5;
}
.advantages > h1{
    text-align: center;
    color:#3A3A3A;
    font-size: 45px;
}
table {
    width:100%;

}
table td{
    padding:0 15px;
    width:auto;
}
td img{
    position: relative;
    top:-20px;
}
.tTitle{
    color:#66AB36;
}
.tText{
    color:#AAAAAA;
}