body{
    background-color: #FFFFFF;
    margin:0;
}
.wrapper{
    margin: 0 auto !important;
    font-family: 'Oswald', sans-serif;
    width:75%;
    padding: 20px;
}
.headLine{
    background-color: #0e2a4c;
    padding:5px 0;
}
.headLine a{
    color: #FFFFFF;
    padding-left: 15px;
    text-decoration: none;
}
a.tel:hover{
    color: orangered;
}
.socialMedia a{
    color: #FFFFFF;
    float: right;
    padding: 0 10px;
}
a.twitter:hover{
    color: #006dbf;
}
a.facebook:hover{
    color: #3b5998;
}
a.linkedin:hover{
    color: #0077b5;
}
a.googlePlus:hover{
    color: #dc4a38;
}
.logoMenu{
    float: left;
    width:100%;
}
.logoMenu div{
    display: inline-block;
}
.menu{
    height:100%;
    float: right;
    margin: auto 0;
}
.logoMenu ul{
    display: inline-block;
    list-style-type: none;
    padding:0;
    margin:0;
}
.menuItem{
    float: left;
    padding: 15px 10px;
}
.menuItem a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}
.menuItem a:hover{
    color: #0e2a4c;
}
.logo{
    padding: 10px 20px;
    max-height: 68px;
}
.logo i{
    color: #06b0d4;
}
.logoText{
    display: inline-block;
    margin:0;
    color: #232323;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding-left: 5px;
}
.groupPicture{
    height:500px;
    width:100%;
    float: left;
    background-image: url('../images/groupImage.jpg');
    background-size: cover;
    background-position: center;
}
strong{
    color: #b11925;
    font-weight: lighter;
}
.welcomeText{
    float: left;
    width:100%;
    position: relative;
}
.welcomeText > div{
    padding: 20px;
}
/*.welcomeText div{
    float: left;
}*/
.welcome{
    display: inline-block;
    width:49.7%;
    text-align: right;
    float: left;
}
.welcome h1{
    padding-right: 20px;
}
.text{
    display: inline-block;
    width: 49.7%;
    float: right;
}
.text p{
    padding-left:20px;
    width:370px;
}
.vrLine{
    width:2px;
    background-color: #b11925;
    position: absolute;
    top:20px;
    bottom: 10px;
    display: inline-block;
}
.services{
    float: left;
    width:100%;
}
.service{
    text-align: center;
    display: inline-block;
    width:33%;
    padding: 20px 0;
}
.service div{
    padding:20px;
}
.service h4, .service p{
    margin:5px auto !important;
    width:60%;
}
.servicesLogo{
    background-color: #b11925;
    color: #FFFFFF;
    border-radius: 50%;
    line-height: 2;
    padding: 20px;
}
.service h4{
    color: #0e2a4c;
}
.aboutUs{
    background-color: #F5F5F5;
    position: relative;
    float: left;
    width:100%;
}
.aboutUs > div{
    padding: 20px;
    display:inline-block;
    width:46%;
    float: left;
}
.aboutImage{
    background-image: url("../images/aboutus.png");
    background-repeat: no-repeat;
    background-position: center;
    width:46%;
    display: inline-block;
    float: left;
    position: absolute;
    bottom:20px;
    top:20px;
}
.aboutInfo{
    width:50%;
    display: inline-block;
    float: left;
}
.aboutInfo h2{
    color: #0e2a4c;
}
.aboutInfo hr{
    border:1px solid #b11925;
}
.aboutInfo p{
    font-weight:lighter;
}