.mainContainer{
    background-color: black;
    color: #eeeeee;
    display: grid;
    grid-template-columns: 150px 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "head head head"
    "navBar main myImage"
    "navBar main myImage"
    ". main foot"

;
}
hr{
    display: none;
}
.header{
    text-transform: capitalize;
    text-align: center;
}
ul{
    display: block;
    list-style-type: none;
    background: #333;
    padding: 0px;
}
li a{
    display: block;
    color: #eeeeee;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-bottom:2px solid black;
}
li a:hover{
    background-color: black;
}
.headContainer{
    grid-area: head;
}
.navBar{
    grid-area: navBar;
}
.mainContent{
    grid-area: main;
}
.myImage{
    grid-area: myImage;
    margin:auto;
}
.footer{
    grid-area: foot;
    line-height: 1px;
}


@media (max-width:800px) {
    .mainContainer{
        grid-template-rows: auto auto auto auto ;
        grid-template-areas:
                "myImage myImage myImage"
                "head head head"
                "navBar navBar navBar "
                "main main main"
                "foot foot foot"
    ;
    }
    .footerContent > p{
        margin: 0px auto;
        line-height: 30px;
    }
    hr{
        display: block;
    }
}